/learn-c-the-hard-way

!/learn-c-the-hard-way/*.c
!/learn-c-the-hard-way/*.h

!/learn-c-the-hard-way/Makefile

!/learn-c-the-hard-way/c-skeleton/

!/learn-c-the-hard-way/devpkg/*.c
!/learn-c-the-hard-way/devpkg/*.h
!/learn-c-the-hard-way/devpkg/Makefile
!/learn-c-the-hard-way/devpkg/DEPENDS
!/learn-c-the-hard-way/devpkg/README

!/learn-c-the-hard-way/libex29
/learn-c-the-hard-way/libex29/bin
/learn-c-the-hard-way/libex29/build

!/learn-c-the-hard-way/liblcthw/ex41
!/learn-c-the-hard-way/liblcthw/src
!/learn-c-the-hard-way/liblcthw/tests/*.c
!/learn-c-the-hard-way/liblcthw/tests/*.h
!/learn-c-the-hard-way/liblcthw/LICENSE
!/learn-c-the-hard-way/liblcthw/README.md
!/learn-c-the-hard-way/liblcthw/Makefile